**Function with arguments**

In [20]:
# 1)wap ask the user enter 3 random numbers n1,n2,n3 from ketboard
# calculate average

def AVG2(n1,n2):
    try:
        print('n1:',n1)
        print('n2:',n2)
        n3=eval(input('enter a n3:'))
        avg=(n1+n2+n3)/3
        avg1=round(avg,2)
        print(f'the verage of{n1},{n2}and{n3} is: {avg1}')
    except Exception as e:
        print(e)
AVG2(200,300)

n1: 200
n2: 300

enter a n3: 300

the verage of200,300and300 is: 266.67

In [19]:
# 2)wap ask the user enter name 
#      random age  and  city using input
# print my name is python im 10 years old and came from hyd
import random
def AGE(d,e,f):
    try:
        print('d',d)
        print('e:',e)
        print('f:',f)
        
        print(f"my name is {d}, im {e} years old and came from {f}")
    except Exception as e:
        print(e)


AGE('sai',23,'hyd')

d sai
e: 23
f: hyd
my name is sai, im 23 years old and came from hyd

In [4]:
# 3)wap ask the user to enter random radidus of a circle calculate area of the circle
# var: radidus  var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

import math
import random
def VAR(v,radius,pi):
        try:
            print('v:',v)
            print('radius:',radius)
            print('pi:',pi)
            area=pi*radius*radius
            print(f" area of circleis {area}")
        except Eeception as e:
            print(e)
VAR(12,34,3.14)

v: 12
radius: 34
pi: 3.14
 area of circleis 3629.84

In [5]:
# 4)wap ask the user enter breadth and height of a right angle triangle
# calculate the area
# var1: bredath  var2: height
# formuale : 0.5*breadth*heigh
def AREA(n1,n2):
    try: 
        print('n1:',n1)
        print('n2:',n2)
        b=random.choice(num1)
        h=random.choice(num2)
        a=0.5*b*h
        print(f"area of triangle {a}")
    except Exception as e:
        print(e)

AREA(12,13)

n1: 12
n2: 13
name 'num1' is not defined

In [9]:
# 5)wap ask the user the bill amount and tip amount
#   calculate total bill
#   var1: bill amount var2: tip amount
#   formuale
def BILL(bill,tip):
    try:
        print('bill:',bill)
        print('tip:',tip)
        
        total=bill+tip
        print(f"total amoun is {total}")
    except Exception as e:
        print(e)
BILL(200,20)

bill: 200
tip: 20
total amoun is 220

In [10]:
# 6)wap ask the user the bill amount and tip percentage
#    take tip percentage as 10
#   calculate total bill= bill amount+ bill amount*tip per/100
#   var1: bill amount var2: tip amount
#    formuale
import math
def AMOUNT(bill_amount,tip_amount):
    try:
        print('bill_amount:',bill_amount) 
        print('tip_amount:',tip_amount)
        total=bill_amount+(bill_amount*tip_amount/100)
        print(f" the bill amount is {bill_amount} and tip is {tip_amount}, hence percentage of total bill amount is {total}")
    except Exception as e:
        print(e)

AMOUNT(200,37)

bill_amount: 200
tip_amount: 37
 the bill amount is 200 and tip is 37, hence percentage of total bill amount is 274.0
the  bill_amountis 200 and tip_amount is 37total bill amount is274.0

In [12]:
# 7)wap ask the length and breadth of a rectangle calculate area
#   var1: length  var2: breadth
#   formulae: length * breadth

def RAC(v1,v2):
    try:
        print('v1:',v1)
        print('v2:',v2)
        
        area=v1*v2
        print(f"area of rectangle {area}")
        print("the length is {} and breadth is {} the area of rectangle is {}".format(v1,v2,area))
    except Exception as e:
        print(e)
RAC(12,13)

v1: 12
v2: 13
area of rectangle 156
the length is 12 and breadth is 13 the area of rectangle is 156

In [4]:
# 8) wap ask the user take the random radius and calculate volume of sphere
#   formulae: pi*r**3(pi*r*r*r)
def VOL(r1,pi):
    print('r1:',r1)
    print('pi:',pi)

    sphere=pi*r1*r1*r1
    print(f"volume of sphere is {sphere}")
    math.ceil(sphere)
VOL(23,3.14)

r1: 23
pi: 3.14
volume of sphere is 38204.38

In [21]:
# 9) wap ask the user enter amount in dollars convert into rupees
#     1$=85rs
import random
import math
def DOLL(D1,amount_in_dollars,conversion_rate):
    try:
        print('D1:',D1)
        print('amount_in_dollars:',amount_in_dollars)
        print('conversion_rate:',conversion_rate)
        amount_in_rupees=amount_in_dollars*conversion_rate
        print(f" amount in dollars convert to rupees {amount_in_rupees}")
    except Exception as e:
        print(e)
DOLL(12,85,23)

D1: 12
amount_in_dollars: 85
conversion_rate: 23
 amount in dollars convert to rupees 1955

In [13]:
# 10)wap ask the user enter random weight in kgs convert into pounds
#    1kg= 2.2pounds

def weight(w1,w2,):
    try:
        print('w1:',w1)
        print('w2:',w2)
        weight_pounds=w2*2.2
        print(f" weight in kgs conver into pounds {weight_pounds}")
    except Exception as e:
        print(e)
weight(12,23)

w1: 12
w2: 23
 weight in kgs conver into pounds 50.6